        /* Style for overlay and box */
        .overlay{
            background:transparent url(../img/overlay.png) repeat top left;
            position:fixed;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            z-index:100;
        }
        .box{
            position:fixed;
            width:510px;
            top:-230px;
            left:30%;
            right:30%;
            background-color:#fff;
            color:#7F7F7F;
            padding-top:20px;
            border:2px solid #ccc;
            border-radius: 20px;
			box-shadow: 0 1px 5px #333;
            -moz-border-radius: 20px;
            -webkit-border-radius:20px;
            -khtml-border-radius:20px;
            -moz-box-shadow: 0 1px 5px #333;
            -webkit-box-shadow: 0 1px 5px #333;
            z-index:101;
        }
        .box h1{
            margin:-20px -20px 0px -20px;
            padding:10px;
            color:#CE1E55;
            border-radius: 20px 20px 0px 0px;
            -moz-border-radius:20px 20px 0px 0px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-top-right-radius: 20px;
            -khtml-border-top-left-radius: 20px;
            -khtml-border-top-right-radius: 20px;
        }
        a.boxclose{
            float:right;
            width:26px;
            height:26px;
            background:transparent url(../images/cancel.png) repeat top left;
            margin-top:-35px;
            margin-right:-15px;
            cursor:pointer;
        }