<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>GPFH</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/lib/bootstrap/css/bootstrap.css}" rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet">
<link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{/lib/magnific-popup/magnific-popup.css}"
	rel="stylesheet">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-datepicker.standalone.css}" rel="stylesheet">
<script type="text/javascript" th:inline="javascript">
    var contextPath = /*[[@{/}]]*/;
</script>
<!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

	<!--==========================
    Header
  ============================-->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<h1>
					<a th:href="@{/}" class="scrollto"><img
						th:src="@{/img/hospital_logo.png}" /></a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<div class="gap-large"></div>
	<div class="gap-large"></div>
	<!-- #header -->
    <div class="container">
        <div class="row">
        	<div class="col-md-4 col-md-offset-4"></div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" id="login-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form action="login" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In"/>
                                <div class="gap-mini">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        	<div class="col-md-4 col-md-offset-4"></div>
        </div>
    </div>
	<div class="gap-large"></div>
	<div class="gap-large"></div>
	<div class="gap-large"></div>
	<!--==========================
    Footer
  ============================-->
	<footer id="footer">
		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong>eHealthWise</strong>. All Rights Reserved
			</div>
			<div class="text-center">
				<p class="m-a-0">Powered by</p>
				<img th:src="@{/img/ehw_thelma.png}"/>
			</div>
		</div>
	</footer>
	<!-- #footer -->

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- JavaScript Libraries -->
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/lib/easing/easing.min.js}"></script>
	<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
	<script th:src="@{/lib/superfish/superfish.min.js}"></script>
	<script th:src="@{/lib/wow/wow.min.js}"></script>
	<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/lib/magnific-popup/magnific-popup.min.js}"></script>
	<script th:src="@{/lib/sticky/sticky.js}"></script>
	<script th:src="@{/js/validator.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<th:block layout:fragment="script" />
</body>
</html>
