<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="ISO-8859-1">
<title>Create Episode</title>
</head>
<body>
	<div layout:fragment="content">

		<div id="main">
			<div class="gap-small"></div>

			<section id="services">

				<div class="container">
					<div class="gap-small"></div>
					<form id="create-episode">
						<div class="form-row" id="patient-info">
							<div class="col-md-4">
								<div class="section-header">
									<h2>Create Estimate</h2>
								</div>
							</div>
							<div class="col-md-4 patient-item" th:if="${patient != null}">
								<h3>Patient Name</h3>
								<p th:text="${patient.firstName + ' ' + patient.lastName}">Supun Amarasinghe</p>
								<input type="hidden" id="patientId" th:value="${patient.id}"/>
							</div>
							<div class="col-md-4 patient-item" th:if="${patient != null}">
								<h3>Date of Birth</h3>
								<p th:text="${#dates.format(patient.dateOfBirth, 'dd/MM/yyyy')}">07/08/2000</p>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="label-prominent">Facility</label> <input type="text" name="facility"
										id="facility" class="form-control" required
										data-error="Facility is required" />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="label-prominent">MRN</label> <input type="text" name="mrn" id="mrn"
										class="form-control" required th:value="${patient.mrn}" data-error="MRN is required" />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="label-prominent">Date</label> <input type="text" name="date" id="date"
										class="form-control datepicker" data-provide="datepicker"
										data-error="Date is required" required/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<table class="table table-striped" id="service-items-table">
								<thead>
									<tr>
										<th>Item Number</th>
										<th>Service</th>
										<th>Rate</th>
										<th>No.</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${fixedServiceItems}" class="service-item">
										<td><input class="item-code" type="hidden" th:value="${item.itemNumber}"/></td>
										<td th:text="${item.serviceDescription}">Critical care - 1st 21 days</td>
										<td class="service-item-value"><span th:text="${'$' + #numbers.formatDecimal(item.serviceRate, 0, 'DEFAULT', 2, 'DEFAULT')}"></span><input class="service-item-unformatted-value" type="hidden" th:value="${item.serviceRate}"/></td>
										<td><input type="number" class="service-quantity"></td>
										<td class="service-item-total text-right"><input class="service-item-total-unformatted-value" type="hidden" value="0"/></td>
									</tr>
								</tbody>

								<tbody id="specialist-services" style="display:none">
									<tr class="white-background"><td colspan = "5"><label class="label-prominent">Specialist services</label></td></tr>
								</tbody>
								<tbody id="procedure-services" style="display:none">
									<tr class="white-background"><td colspan = "5"><label class="label-prominent">Procedure services</label></td></tr>
								</tbody>
								<tbody id="anaesthetics-services" style="display:none">
									<tr class="white-background"><td colspan = "5"><label class="label-prominent">Anaesthetics services</label></td></tr>
								</tbody>
								<tbody id="medical-imaging-services" style="display:none">
									<tr class="white-background"><td colspan = "5"><label class="label-prominent">Medical Imaging services</label></td></tr>
								</tbody>
								<tbody id="pathology-services" style="display:none">
									<tr class="white-background"><td colspan = "5"><label class="label-prominent">Pathology services</label></td></tr>
								</tbody>
								<tbody id="prosthesis-services" style="display:none">
									<tr class="white-background"><td colspan = "5"><label class="label-prominent">Prosthesis services</label></td></tr>
								</tbody>								
							</table>
						</div>
						<div class="form-row service-total">
							<div class="col-md-10 text-right bold m-t-10">
								<h4>TOTAL</h4>
							</div>
							<div class="col-md-2 text-right bold m-t-10">
								<h4 id="service-total-display">$0.00</h4>
							</div>
						</div>
						<hr/>
						<p class="label-prominent">Add a Service</p>
						<div class="form-row">
							<div class="col-md-2">
								<div class="form-group">
									<select id="service-type" class="w-100 resettable-control form-control">
										<option value="select">Select Type</option>
										<option value="SS">Specialist</option>
										<option value="PC">Procedure</option>
										<option value="ANAE">Anaesthetics</option>
										<option value="PATH">Pathology</option>
										<option value="MI">Medical Imaging</option>
										<option value="PROS">Prosthesis</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input placeholder="Search Service" class="w-100 resettable-control form-control service-code-autocomplete"/>
									<input type="hidden" id="service-item-number" />
									<input type="hidden" id="service-description" />
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<input placeholder="Rate" id="service-rate" class="w-100 resettable-control form-control"/>
									<input type="hidden" class="service-item-unformatted-value" id="unformatted-service-rate" />
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<input placeholder="Quantity" class="w-100 resettable-control form-control additional-service-quantity" id="service-quantity-input" type="number"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<input placeholder="Total" class="w-100 resettable-control form-control service-item-total" id="service-item-total-display" step="0.01"/>
									<input type="hidden" class="selected-service-item-total-unformatted-value"/>
								</div>
							</div>
							<div class="col-md-1">
								<button class="w-100 add-service btn-success btn" type="button">Add</button>
							</div>
						</div>
						<hr/>
						<p class="label-prominent">Add Custom Service</p>
						<div class="form-row">
							<div class="col-md-2">
								<div class="form-group">
									<input placeholder="Item Number" id="custom-service-item-number" class="w-100 resettable-control form-control"/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input placeholder="Description" id="custom-service-desc" class="w-100 resettable-control form-control"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<input placeholder="Rate" id="custom-service-item-rate"  class="w-100 resettable-control form-control" type="number" step="0.01"/>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<input placeholder="Quantity" id="custom-service-item-quantity" class="w-100 resettable-control form-control" type="number" step="1"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<input placeholder="Total" id="custom-service-item-total" class="w-100 resettable-control form-control" type="number" step="0.01"/>
								</div>
							</div>
							<div class="col-md-1">
								<button class="w-100 add-custom-service btn-success btn" type="button">Add</button>
							</div>
						</div>
						<hr/>
						<div class="text-left" id="button-panel">
							<button class="btn btn-primary w-25" type="submit">Save</button>
							<button  class="btn btn-primary w-25" type="button" id="print-btn" disabled>Print</button>
							<button class="btn btn-primary w-25" type="button" id="add-payment-btn" disabled>Make Payment</button>
							<input type="hidden" id="created-estimate-id"/>
						</div>
					</form>
				</div>
				<div class="modal fade" id="estimation-added-modal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel"
					style="z-index: 10000;">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<div class="text-center">
									<h2>Estimate of fees created</h2>
									<p>You can print and add payment info</p>
								</div>
								<div class="text-center">
									<button class="btn btn-primary w-25" data-dismiss="modal">OK</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gap-large"></div>
			</section>
			<section id="call-to-action"></section>
		</div>

	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/js/patient.js}"></script>
		<script th:src="@{/js/typeahead.js}"></script>
		<script th:src="@{/js/code-autocomplete.js}"></script>
		<script th:src="@{/js/nicescroll.js}"></script>
	</th:block>
</body>
</html>