<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="ISO-8859-1">
<title>Make Payment</title>
</head>
<body>
	<div layout:fragment="content">

		<div id="main">
			<div class="gap-small"></div>

			<section id="services">

				<div class="container">
					<div class="section-header">
						<h2>Make Payment</h2>
					</div>
					<h4>
						Estimate Number : <a href="#" th:text="${estimateId}"></a>
					</h4>
					<input type="hidden" id="estimateId" th:value="${estimateId}"/>
					
					<div class="gap-small"></div>
					<form id="make-patient">
						<div class="form-row">
							<table class="table" id="payments-details-table">
								<thead>
									<tr>
										<th>Payment Method</th>
										<th>Amount</th>
										<th>Receipt Number</th>
										<th>Staff Member</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>GPFH<button type="button" class="btn-success btn gpfh-link-btn" id="initiate-gpfh-payment" style="margin-left:5px">Pay</button></td>
										<td><input class="gpfh-payment-amount" type="number" step="0.1"/></td>
										<td><input/></td>
										<td><input/></td>
									</tr>
									<tr>
										<td>EFTPOS/Credit</td>
										<td><input type="number" step="0.1"/></td>
										<td><input/></td>
										<td><input/></td>
									</tr>
									<tr>
										<td>Cash</td>
										<td><input type="number" step="0.1"/></td>
										<td><input/></td>
										<td><input/></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="form-row service-total">
							<div class="col-md-10 text-right bold m-t-10">
								<h4>TOTAL</h4>
							</div>
							<div class="col-md-2 text-right bold m-t-10">
								<h4 id="service-total-display" th:text="${'$' + #numbers.formatDecimal(total, 0, 'DEFAULT', 2, 'DEFAULT')}">$0.00</h4>
							</div>
						</div>
						<div class="text-left" style="margin-top: 100px;">
							<button class="btn btn-primary w-25" type="button">Save</button>
						</div>
					</form>
				</div>
				<div class="gap-small"></div>
				<div class="gap-large"></div>
			</section>
			<section id="call-to-action"></section>
		</div>

	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/js/patient.js}"></script>
	</th:block>
</body>
</html>