<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div>
		<div class="form-row">
			<table class="table table-striped" id="service-items-table">
				<thead>
					<tr>
						<th class="w-20">MRN</th>
						<th class="w-25">First Name</th>
						<th class="w-25">Last Name</th>
						<th class="w-15">DOB</th>
						<th class="w-15">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${patients}" >
						<td th:text="${p.mrn}">Supun</td>
						<td th:text="${p.firstName}">Supun</td>
						<td th:text="${p.lastName}">Amarasinghe</td>
						<td th:text="${#dates.format(p.dateOfBirth, 'dd/MM/yyyy')}">04/05/2000</td>
						<td>
							<a title="View Patient"  class="btn btn-success table-action" href="#"><i class="fa fa-eye"></i></a>
							<a title="Create Estimate" class="btn btn-success table-action" th:href="@{/patient/create-episode(patientId=${p.id})}"><i class="fa fa-edit"></i></a>
							<a th:if="${p.unpaidInvoices}" title="View Unpaid Estimate details" class="btn btn-danger table-action" th:href="@{/patient/view-estimates(patientId=${p.id})}"><i class="fa fa-dollar"></i></a>
							<a th:if="${!p.unpaidInvoices}" title="View Unpaid Estimate details" class="btn btn-success table-action" th:href="@{/patient/view-estimates(patientId=${p.id})}"><i class="fa fa-dollar"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</body>
</html>