<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="ISO-8859-1">
<title>Summary of estimates</title>
</head>
<body>
	<div layout:fragment="content">

		<div id="main">
			<div class="gap-small"></div>

			<section id="services">

				<div class="container">
					<div class="form-row" id="patient-info">
						<div class="col-md-6">
							<div class="section-header">
								<h2>Summary of estimates</h2>
							</div>
						</div>
						<div class="col-md-3 patient-item" th:if="${patient != null}">
							<h3>Patient</h3>
							<p th:text="${patient.firstName + ' ' + patient.lastName}">Supun
								Amarasinghe</p>
						</div>
						<div class="col-md-3 patient-item" th:if="${patient != null}">
							<h3>MRN</h3>
							<p th:text="${#dates.format(patient.dateOfBirth, 'dd/MM/yyyy')}">07/08/2000</p>
						</div>
					</div>
					<div class="gap-small"></div>
					<form id="unpaid-estimates">
						<div class="form-row">
							<table class="table table-striped" id="service-items-table">
								<thead>
									<tr>
										<th class="w-10">Estimate ID</th>
										<th class="w-15">Created Date</th>
										<th class="w-20">Total</th>
										<th class="w-20">Total Paid</th>
										<th class="w-20">Total Outstanding <a title="This is the total outstanding amount owe by the patient for a estimate" href="#"><i class="fa fa-info-circle" style="font-size: 17px;color: #FFC107"></i></a></th>
										<th class="w-15">View Payments</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="e : ${estimates}">
										<td th:text="${e.id}">10</td>
										<td th:text="${#dates.format(e.created, 'dd/MM/yyyy')}">10/04/2018</td>
										<td th:text="${'$' + #numbers.formatDecimal(e.invoice.amount, 1, 'DEFAULT', 2, 'DEFAULT')}">$5600.00</td>
										<td th:text="${'$' + #numbers.formatDecimal(e.invoice.paidAmount, 1, 'DEFAULT', 2, 'DEFAULT')}">$5000.00</td>
										<td th:text="${'$' + #numbers.formatDecimal(e.invoice.amount.subtract(e.invoice.paidAmount), 1, 'DEFAULT', 2, 'DEFAULT')}" th:style="${e.invoice.paid ? '' : 'color:#dc3545'}">$5000.00</td>
										<td>
											<span th:if="${e.invoice.paidAmount > 0}">
												<a th:if="${e.invoice.paid}" title="View Payments" class="btn btn-success table-action" th:href="@{/patient/view-payments(invoiceId=${e.invoice.id})}"><i class="fa fa-eye"></i></a>
												<a th:if="${!e.invoice.paid}" title="View Payments" class="btn btn-danger table-action" th:href="@{/patient/view-payments(invoiceId=${e.invoice.id})}"><i class="fa fa-eye"></i></a>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>

					<div id="resultsBlock" style="min-height: 300px"></div>
				</div>
				<div class="gap-small"></div>

				<div class="gap-large"></div>
			</section>
			<section id="call-to-action"></section>
		</div>

	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/js/patient.js}"></script>
	</th:block>
</body>
</html>