<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="ISO-8859-1">
<title>View Payments</title>
</head>
<body>
	<div layout:fragment="content">

		<div id="main">
			<div class="gap-small"></div>

			<section id="services">

				<div class="container">
					<div class="section-header">
						<h2>Payments</h2>
					</div>

					<div class="gap-small"></div>
					<form id="unpaid-estimates">
						<div class="form-row">
							<table class="table table-striped" id="service-items-table">
								<thead>
									<tr>
										<th class="w-25">Paid Time</th>
										<th class="w-25">Method</th>
										<th class="w-25">Reference</th>
										<th class="w-25">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p : ${payments}">
										<td th:text="${#dates.format(p.created, 'dd/MM/yyyy hh:mm:ss')}">10/04/2018</td>
										<td>GPFH</td>
										<td th:text="${p.referenceNumber}"></td>
										<td	th:text="${'$' + #numbers.formatDecimal(p.amount, 1, 'DEFAULT', 2, 'DEFAULT')}">$5000.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>

					<div id="resultsBlock" style="min-height: 300px"></div>
				</div>
				<div class="gap-small"></div>

				<div class="gap-large"></div>
			</section>
			<section id="call-to-action"></section>
		</div>

	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/js/patient.js}"></script>
	</th:block>
</body>
</html>